DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=plataforma
DB_USERNAME=gallica
DB_PASSWORD=GA2021CA
DEBUG=sequelize:sql*

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

TZ=America/Sao_Paulo

WEBHOOK_ROI_10_TO_25=https://discord.com/api/webhooks/890627083296972830/QliSZ9WQrTMGUoYBol6RdW-H0Hr6l0kE1Ez1r2KyvnvR9v44Na_uJ-i2AXQZa-eQd7pR
WEBHOOK_ROI_ABOVE_40=https://discord.com/api/webhooks/891442569635037195/eYxKTqbPbPmKtGR8SiLPLUmV2_GNEICywIiMWwGlgQajZEfHuoJ8TGWiybC29OQPYHW6
WEBHOOK_LOWEST_PRICE_DARK=https://discord.com/api/webhooks/891717089704939520/dOtZLRkP0XvN-dP4MRfn7jz65GAhhVgKxS3-rG9bIYprpcW1-Brzql2GSvasrPN_s7q5
WEBHOOK_LOWEST_PRICE_LIGHT=https://discord.com/api/webhooks/891717194260578314/NBFg2dCGVf3H_-Yw1YTNWxdhw0mnthfId0ynNO8PBR4Q55VoPCs_7s04irj6I7H61-wz
WEBHOOK_LOWEST_PRICE_FIRE=https://discord.com/api/webhooks/891717307519356998/qsPO2D2-GChuKrY-fFIEK3k6DMt2DBjaWt8mohMG0QuI0CDASWZ-q513RT1jCzezOSMH
WEBHOOK_LOWEST_PRICE_WATER=https://discord.com/api/webhooks/891717408673370152/qqbiwpx5bvf3cdW64cpbCSGHCK9gW0SYRwW40ggg-He84YkzNxCXfi-IegST2wufbMhT
WEBHOOK_LOWEST_PRICE_ICE=https://discord.com/api/webhooks/891717497420660746/j9QTGC53wP90AmEwmg41vphAyuVxjPTlhPFbJLPatn3BW0WMQYMsLLQTM9obUH6OBdGl
WEBHOOK_LOWEST_PRICE_ELECTRIC=https://discord.com/api/webhooks/891717611644137553/TkATis7-rgB-CCzSj7PjayXLmCix5tBs5508ppnIzL13vzX1uftuio2QJFzG5Ecj3OaN
WEBHOOK_LOWEST_PRICE_METAL=https://discord.com/api/webhooks/891726564927086673/VD27MZmcLNbh9nrtOPcdx6oHvfo9zQTN6gutl5rf_hHv2MLNAh1olHTTWH8HhMSRQfFf
WEBHOOK_LOWEST_PRICE_WIND=https://discord.com/api/webhooks/891717770629230594/dcc2uBtrEsz7i5DQDGtOOQqMLygrYzSa3si-zD2XmyA18G-4R9SagSsLUqtkW_MlOP0m
WEBHOOK_LOWEST_PRICE_PARASITE=https://discord.com/api/webhooks/891717900547817492/ckb0wHEjoxPlGuvf-NRcWAcY8z7Rlr7aDfFo_RRpLEpjZnxTKrE1btPWWYDZ507wZKts